*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --black : #1e1e1e;
    --white : #fafafa;
    --green : #7DD91F;
    --soft-black : #393939;
}
.card-img-top {
    width: 40%;

  }
    /* body{
        background-color: #1E1E1E; */
  }
  div.card.h-100{
    height: 60%!important;
    width: 60%!important;
    
  }
