*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important; 
    list-style: none;
}
:root{
    --black : #1e1e1e;
    --white : #fafafa;
    --green : #00FF10;
    --soft-black : #393939;
    --font: #00ff10;
}
body{
    background-color: #f9f9f9;
    overflow-x: hidden
}
.color8{
    background-color: var(--black);
}
.color7{
    background-color: #393939;
}
.btn-bg{
    background: var(--font);
}
.height1{
    height: 70px;
    
}
.open{
    background-color: #1E1E1E;
    color: #fff;
    font-size: 35px;
    border: none;
    outline: none;
    display: none;
}
.open:hover{
    opacity: 0.8;
    transition: all ease .3s;
}
.sidenav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #1E1E1E;
    overflow-x: hidden;
    padding-top: 60px;
    font-family: 'Poppins';
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .sidenav .close:hover{
    color: #00ff10;
    transition: all ease .3s;
}
.sidenav .close {
    align-self: flex-end;
    background-color: #1E1E1E;
    border: none;
    color: #fff;
    outline: none;
    font-size: 36px;
    margin-right: 50px;
}
.container a{
    text-decoration: none;
}
.bg-image{
    height: 380px;
    background-image: url(images/head.png);
    background-size: 100% 380px ;
}
.img-fluid2{
    width: 210px;
}
.margin{
    margin-right: 9%;
}
.line{
    line-height: 1;
}
.date{
    margin-top: 60%;
}
.color{
    color: #E95555;
}
.footer{
    height: 120px;
    background-image: url(images/tri.png);
    background-size: 100% 400px ;
}


.td{
    background-color: rgba(85, 233, 94, 0.20)  !important;
    
}
.th{
    background-color: var(--font) !important;
}
.image{
    width: 60px;
}
.souris{
    width: 40px;
    height: 40px;
}

.body5{
    width: 100%;
    height: fit-content;
    background: url(./images/contactBg.png) ;
    background-size: cover;
    background-position: center;
}
#contact form{
    background-color: rgba(30, 30, 30, 0.65);
    backdrop-filter: blur(12.5px);
    width: fit-content;
    
}
#contact h2{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    font-size: 50px;
    padding: 20px 0px;
    text-transform: uppercase;
    text-align: center;
}
.invalid-feedback{
    width: 200px;
}

header{
    background:#1E1E1E;
    height: 12vh;
}
.container-personnalisation{
    background: var(--black);
}
 .closebtn {
    cursor: pointer;
 }  
.navigation{
    height: 7%;
}
.details{
    border: 2px solid var(--green);
}
.reviews{
    border: 2px solid rgb(87, 84, 84); 
}

.product-name{
    font-size: 1.7em;
}
.navigation .details{
    border: 2px solid var(--green);
}

.btn-addcart{
    background-color: #00FF10;
}


.ligne{
    width: 4em;
    height: 0.1em;
    background-color: #00FF10;
}
 .btn-moins , .btn-plus{
    background-color: var(--green);
 }
 .stars{
    color: #ffd60a;
 }
 .cardcontent{
    background-color: var(--soft-black);
 }
 .customize{
    color: var(--green);
    border: 2px solid var(--green);
 }
 .addcart{
    background-color: var(--green);
 }
 .widthc{
    width: 300px;
    background-color: var(--soft-black);
 }
 .color1{
    color: var(--green);
 }

 .btn-cust{
    border-color: #00FF10 !important;
    color: #00FF10;
 }
 .btn:hover{
    border-color:  #00FF10 ;
 }
.bodyc{
    background-color: var(--black);
}
.color1{
    color: #00FF10;
}
.border-success{
    border-bottom-color: #00FF10 !important;
}

.btn-outline-success {
    margin-top: 10px;
    width: 120px;
    border-color: #00FF10 !important;
    color: var(--white);
}
.btn-outline-success:hover {
    background-color: #00FF10 !important;
    color: var(--black) !important;
}

/* .widthc{
    width: 100px;
} */
.widthf{
    width:fit-content;
}
.bgc{
    background-color: #393939;
}
.stars{
    color: #ffd60a;
 }
 .btn-cust{
    border-color: #00FF10;
    color: #00FF10;
 }
 .btn:hover{
    border-color: #00FF10;
    color: var(--soft-black);
    background-color: #00FF10;
 }
 .btn-add{
    background-color: #00FF10;
 }
 .btn-add:hover{
    background-color: #01eb10;
    color: var(--soft-black);
 }
 .page-link{
    background-color: var(--soft-black);
    border-color: var(--soft-black);
    color: var(--white);
    
    
 }
 .page-link:hover{
    background-color: #00FF10;
    color: var(--black);
    border-color: #00FF10;
    
 }
 .page-link:focus{
    background-color: #00FF10;
    color: var(--black);
    border-color: #00FF10;
 }
 .area{
    resize: none;
    height: 150px;
 }
.hit{
    height: 50px;
    width: 240px;
}
.font{
    border-color: #00FF10 ;
    background-color: #1E1E1E;
    color: white !important;  
}
.font::placeholder{
    color: #5f5f5f;
}
.black{
    background-color: #00FF10;
  
}
.font:focus{
    border-color: #00FF10 ;
    background-color: #1E1E1E;
    color: #5f5f5f;  
    box-shadow: none ;
}
div.button{
    color: #00ff10;
    /* margin-bottom: 20%!important;
    margin-top: 20%!important;  */
    
}
.color5{
    color: #5f5f5f;
}
form {
    width: 300px;
    margin: 0 auto;
}
#cart{
    position: fixed;
    background-color: #393939;
    right: 0px;
    width: 400px;
    display: none;
}
#cart .close{
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
#cart .close button{
    color: #fff;
    background-color: transparent;
    font-size: 32px;
    border: none;
    outline: none;
}
#cart-items{
    height: 80%;
    /* background-color: #ffd60a; */
    overflow-y: auto;
    overflow-x: hidden;
}
#c-btns{
    padding: 20px;
    height: 13%;
    /* background-color: #E95555; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#c-btns a{
    width: 47%;
    border: #00FF10 2px solid;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}
#c-btns a:first-child{
    color: #00FF10;
}
#c-btns a:last-child{
    background-color: #00FF10;
}
#intro{
    background-image: url(./images/bg-main.jpg) ;
    background-repeat:no-repeat;
    background-size: cover;
    height: 87vh;
}
#takelook{
    background: var(--green);
}
.btn-primary{
     background-color:#393939 ;
     border: #00FF10;
     --bs-btn-hover-bg: #00FF10;
}
#cardstatistics{
    width: 50%;
}
.background{
    background-color: #1E1E1E!important;
}
.about-h1{
    color: #00FF10;
}
.carousel-item-active{
    height: 70%!important;
    
}
element style{
    align-items: center!important;
    text-align: center;
}
.embed-responsive-item{
        width: 50% !important;
        height: 100% !important;
        border-radius: 5% !important;
        margin-top: 2%!important;
        padding: 10px!important;
       
}
footer{
    background-color: #1E1E1E!important;
    
}
.height{
    height: 200px;
}
.hi{
    height: 25px !important;
}


@media screen and (max-width:700px){
    #small-about{
        flex-direction: column;
    }
    nav{
        display: none;
    }
    .open{
        display: block;
    }
}
@media print {
    #print-btns{
      display: none !important;
    }
  }